.contenedor {
    width: 100%;
    height: 100%;
    background-color: #3093a6 ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.leftSection {
    border: 2px solid #fff; /* Agrega esta propiedad para el borde */
    border-radius: 10px; /* Agrega esta propiedad para el radio de borde */
    background-color: rgb(121, 121, 84);
    box-shadow: 10px 10px 10px #3e3c3c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 200px;
    height: 300px; 
    width: 350px;
}

.rightSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 20px;
    margin-left: 200px;
}

.img {
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 600px; /* Ajusta el tamaño de la imagen según tus necesidades */
}

.verticalLine {
    border: 1px solid rgb(255, 255, 255);
    height: 60%; /* Ajusta la altura de la línea vertical según tus necesidades */
    right: 50%; 
    top: 0; 
    transform: translateX(-48000%);
}


.p{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.h1{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}